.main-dimmer {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

p {
    padding: 0 30px 20px 30px;
    margin-bottom: 0;
    font-size: 1.4em;
}

.tech-badge-imgs {
    display: inline;
    margin: 10px 10px 20px 10px;
    width: 60px;
}
