.main-dimmer {
    margin-right: auto;
    margin-left: auto;
}

p {
    padding: 0 30px 20px 30px;
    margin-bottom: 0;
    font-size: 1.4em;
}

.tech-badge-imgs {
    display: inline;
    margin: 10px 10px 20px 10px;
    width: 60px;
}

img {
    max-width: 60vw;
    margin: 10px auto 10px auto;
}

.description {
    text-align: center;
    padding: 10px
}
