@import url('https://fonts.googleapis.com/css?family=Donegal+One|Lalezar');

/* General Styling */
body {
  box-sizing: border-box;
  background-color: #F1F2ED
}

.menu-bar {
  position: fixed;
  z-index: 10000;
}

/* Styling for the Main Body (Main Display Panel) */
.output-display {
  width: 100vw;
}

/* Dummy Div to give spacing to content below it */
.spacer {
  height: 60px;
}

/* Formatting Footer Links */
a {
  color: inherit;
}
