<!--Menubar Content-->
<div class="ui grid container menu-bar">
  <div class="row">
    <div class="ui right floated main menu">
      <a class="bug popup icon item" routerLink="">
        <i class="Home icon" style="margin-right: 5px;"></i><p>Home</p>
      </a>
      <a class="bug popup icon item" routerLink="projects">
        <i class="Folder Ouline icon" style="margin-right: 5px;"></i><p>Key Projects</p>
      </a>
      <a class="bug popup icon item" (click)="contactModal()">
        <i class="Home icon" style="margin-right: 5px;"></i><p>Contact Info</p>
      </a>
    </div>
  </div>
</div>
<div class="spacer"></div>

<!--Main body display section-->
<div class="output-display">
  <router-outlet></router-outlet>
</div>

<!--Universal Footer Content-->
<footer class="page-footer footer-style">
    <div class="ui grid container">
      <div class="row">
        <div class="six wide column">
          <p class="footer-p">{{copyrightInfo}}</p>
        </div>
        <div class="five wide column">
          <a href="https://github.com/bernardanderson">
            <i class="large Github Square icon"></i>
            <span>github.com/bernardanderson</span>
          </a>
        </div>
        <div class="five wide column">
          <a href="https://www.linkedin.com/in/andersonbm">
            <i class="large Linkedin Square icon"></i>
            <span>www.linkedin.com/in/andersonbm</span>
          </a>
        </div>
      </div>
    </div>
</footer>

<!--Modal for the Contact Info-->
<contact-info></contact-info>