<nav>
  <div class="ui attached segment darker-green">
    <p class="navbar-p">Bernard Anderson.me</p>
  </div>
  <div class="ui bottom attached buttons">
    <div *ngFor="let item of navItems" class="ui darker-green button" routerLink="/{{item.route}}">{{item.text}}</div>
  </div>
</nav>

<div class="output-display">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer footer-style">
    <div class="darker-green footer-div">
      <p class="footer-p">{{copyrightInfo}}</p>
    </div>
</footer>
