<!--Content for the "Contact Info" Modal -->
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Bernie Anderson's Contact Info
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="media/ti/biopic.jpg">
    </div>
    <div class="description">
      <div class="ui header">You can contact me any number of ways...</div>
      <div class="ui grid container">
        <div class="row">
          <div class="six wide column">
            <a href="tel:(615)504-6037" target="_blank">
              <i class="large Text Telephone icon"></i>
              <span>(615)504-6037 (Nashville, TN)</span>
            </a>
          </div>
          <div class="seven wide column">
            <a href="mailto:bernard.anderson@gmail.com" target="_blank">
              <i class="large Mail Outline icon"></i>
              <span>bernard.anderson@gmail.com</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="six wide column">
            <a href="https://github.com/bernardanderson" target="_blank">
              <i class="large Github Square icon"></i>
              <span>github.com/bernardanderson</span>
            </a>
          </div>
          <div class="seven wide column">
            <a href="https://www.linkedin.com/in/andersonbm" target="_blank">
              <i class="large Linkedin Square icon"></i>
              <span>www.linkedin.com/in/andersonbm</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="six wide column">
            <a href="media/resume/resume.pdf" target="_blank">
              <i class="large File Pdf Outline icon"></i>
              <span>My Resume</span>
            </a>
          </div>
          <div class="seven wide column">
              <i class="large Smile icon"></i>
              <span>I look forward to hearing from you!</span>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of "Contact Info" Modal Content-->
