<div class="ui grid">
    <div class="row">
        <div class="ui card sixteen wide column header-bar">
            <div class="content">
                <p class="box-head">Bernie Anderson</p>
                <p class="box-sub">Full-stack Web Developer</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui horizontal divider header">
                <i class="Comment Outline icon"></i>
                Synopsis
            </div>
            <p class="synopsis">
                Problem solving and technology have always been a passion of mine.  As a youth, my first computer experience was coding on an Apple IIe.  In college, I got hooked on Linux.  Since then I’ve learned enough to run my own Linux LAMP server and wire my home with a LAN.
            </p>
            <p class="synopsis">
                In 2016, I wanted to gain a more “formal” understanding of modern software development so I enrolled in Nashville Software School’s 12-month Web development boot camp.  This Full-Stack program taught the basics of front-end development as well as C#/.NET development for the back-end.
            </p>
            <p class="synopsis">
                <strong>
                    I am able to pull from my background in science and management and extend my coding skills to develop new and exciting applications!
                </strong>
            </p>
            <div class="ui horizontal divider header">
                <i class="Desktop icon"></i>
                Technologies
            </div>
            <div class="ui grid container">
                <div class="row">
                    <p class="synopsis">Here is a brief list of technologies used in my apps... check out my "Key Projects"" from the menu above!</p>
                </div>
                <div class="row centered">
                    <div class="two wide column">
                        <img class="frontbadge" alt="HTML5" src="media/ti/html5.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="CSS3" src="media/ti/css3.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="JavaScript" src="media/ti/javascript.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="jQuery" src="media/ti/jquery.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="AngularJS/Angular" src="media/ti/angularjs.png">
                    </div>
                </div>
                <div class="row centered">
                    <div class="two wide column">
                        <img class="frontbadge"  alt="Bower" src="media/ti/bower.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="Git/GitHub" src="media/ti/github.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="BootStrap" src="media/ti/bootstrap.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="Gulp" src="media/ti/gulp.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="JSON" src="media/ti/json.png">
                    </div>
                </div>
                <div class="row centered">
                    <div class="two wide column">
                        <img class="frontbadge"  alt="npm" src="media/ti/npm.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="MySQL" src="media/ti/mysql.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="Visual Studio" src="media/ti/visualstudio.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="Semantic UI" src="media/ti/semanticui.png">
                    </div>
                    <div class="two wide column">
                        <img class="frontbadge"  alt="C#" src="media/ti/csharp.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
</div>

