<h1 class="ui block centered header">
  Major Front/Back-end Projects
</h1>

<h3 (click)="flipper('cy');" class="ui centered horizontal divider header">
  Front-End Capstone: "Cheque-YourSelf!"
  <div class="sub header">Click Here For Addtional Screen Shots</div>
  <div class="sub header">Hover over image for a more detailed description</div>
</h3>
<div class="main-dimmer" (mouseenter)="hover('cy');" (mouseleave)="blur('cy');">
  <div class="ui dimmer cy">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">"Cheque-Yourself!"</h2>
        <p>Paper checks are still a "thing" of modern life. After trying to find software that would allow an individual 
          to print their own checks (as a cost-saving measure), it was determined that available check-writing software
           was expensive, horribly out-dated and platform specific.<br/><br/>
          "Cheque-Yourself!" allows the printing of checks from any web browser as 
          well as keep track of checking & saving finances.</p>
          <span>Technologies Used</span>
          <div class="badge-div">
            <img class="tech-badge-imgs" src="./media/ti/html5.png">
            <img class="tech-badge-imgs" src="./media/ti/css3.png">
            <img class="tech-badge-imgs" src="./media/ti/javascript.png">
            <img class="tech-badge-imgs" src="./media/ti/jquery.png">
            <img class="tech-badge-imgs" src="./media/ti/angularjs.png">
          </div>
        <a href="https://github.com/bernardanderson/frontend-capstone">
          <div class="ui button">
            <i class="github square icon"></i>
            GitHub Repo
          </div>
        </a>
        <a href="http://www.cheque-yourself.com">
          <div class="ui button">
            <i class="browser icon"></i>
            Deployed Website
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="ui shape cy">
    <div class="sides">
      <div class="active side">
        <img class="ui rounded image" src="/media/chequey/CheckBuilder.png">
        </div>
      <div class="side">
        <img class="ui rounded image" src="/media/chequey/SingleItem.png">
      </div>
      <div class="side">
        <img class="ui rounded image" src="/media/chequey/AccountExpend.png">
      </div>
      <div class="side">
        <img class="ui rounded image" src="/media/chequey/AccountLedger.png">
      </div>
    </div>
  </div>
</div>
<h3 (click)="flipper('gl');" class="ui centered horizontal divider header">
  Front-End Group Project: "Gauntlet"
  <div class="sub header">Click Here For Addtional Screen Shots</div>
  <div class="sub header">Hover over image for a more detailed description</div>
</h3>

<div class="main-dimmer" (mouseenter)="hover('gl');" (mouseleave)="blur('gl');">
  <div class="ui dimmer gl">
    <div class="content">
      <div class="center">
        <h2 class="ui inverted header">"Gauntlet"</h2>
        <p>One of the more fun Front-End group projects was "Gauntlet", a javascript excercise which exposed the 
          students to multiple objects utilizing prototypical inheritence for property creation and modification.
          The user creates a player, selects a "class" and a weapon in order to engage in a 1-on-1 fight with an 
          Orc.<br/><br/>
        After completing the javascript portion, our group had fun with the project by adding a 1980's 8-bit theme
          as well as CSS animations for the actual battle scene.</p>
          <span>Technologies Used</span>
          <div class="badge-div">
            <img class="tech-badge-imgs" src="./media/ti/html5.png">
            <img class="tech-badge-imgs" src="./media/ti/css3.png">
            <img class="tech-badge-imgs" src="./media/ti/javascript.png">
            <img class="tech-badge-imgs" src="./media/ti/jquery.png">
          </div>
        <a href="https://github.com/bernardanderson/gauntlet-destroy-in-ators">
          <div class="ui button">
            <i class="github square icon"></i>
            GitHub Repo
          </div>
        </a>
        <a href="#">
          <div class="ui button">
            <i class="browser icon"></i>
            Deployed Website
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="ui shape gl">
    <div class="sides">
      <div class="active side">
        <img class="ui rounded image" src="/media/gauntlet/gauntbattle.png">
        </div>
      <div class="side">
        <img class="ui rounded image" src="/media/gauntlet/gauntwin.png">
      </div>
      <div class="side">
        <img class="ui rounded image" src="/media/gauntlet/gauntchoose.png">
      </div>
    </div>
  </div>
</div>
