<div class="ui grid container">

<div class="row">
    <div class="sixteen wide column">
        <div class="ui horizontal divider header">
            Major Projects
        </div>
    </div>
</div>

<div class="row">
  <div class="ui eight column grid">

    <div class="ui fluid card">
      <div class="content">
        <div class="header">Back-end Capstone Project: "Eyes On The Net"</div>
        <div class="meta">Hover over image for a detailed description</div>
      </div>
      <div class="two ui buttons">
          <button class="ui button" (click)="changeImage('eyeNet', 'previous')">
            <i class="Angle Double Left icon"></i>
            Previous Image
          </button>
          <button class="ui button" (click)="changeImage('eyeNet', 'next')">
            Next Image
            <i class="Angle Double Right icon"></i>
          </button>
      </div>

      <div class="image main-dimmer" (mouseenter)="hover('eyeNetDimmer');" (mouseleave)="blur('eyeNetDimmer');">
        
        <div class="ui dimmer eyeNetDimmer">
          <div class="content">
            <div class="center">
            <h2 class="ui inverted header">"Eyes On The Net"</h2>
            <p>Eyes On The Net is a web application for securely interfacing with and displaying local and remote 
              webcams which otherwise might have poor or no standalone security. Snapshots are handled server-side for 
              later retrieval in a DVR-type fashion and camera locations can be graphically viewed via Google Maps.<br/><br/> It was written 
              using .NET Core (in Linux), Angular 2 with TypeScript, a standalone MySQL server for Db storage, JSON Web Tokens for user 
              authentication and styled using Semantic-Ui.
            </p>
              <span>Technologies Used</span>
              <div class="badge-div">
                <img class="tech-badge-imgs" src="./media/ti/html5.png">
                <img class="tech-badge-imgs" src="./media/ti/css3.png">
                <img class="tech-badge-imgs" src="./media/ti/jquery.png">
                <img class="tech-badge-imgs" src="./media/ti/semanticui.png">
                <img class="tech-badge-imgs" src="./media/ti/angular2.png">
                <img class="tech-badge-imgs" src="./media/ti/jwt.png">
                <img class="tech-badge-imgs" src="./media/ti/mysql.png">
                <img class="tech-badge-imgs" src="./media/ti/dotnetcore.png">
              </div>
            </div>
          </div>
        </div>
          <img [src]="eyeNetDisplayImg">
      </div>

      <div class="description">
        <div class="ui large buttons">
        <a href="https://github.com/bernardanderson/EyesOnTheNet_Backend_NSS_BackendCapstone" target="_blank">
          <div class="ui blue button">
            <i class="github square icon"></i>
            Back-end GitHub Repo
          </div>
        </a>
        <div class="or"></div>
        <a href="https://github.com/bernardanderson/EyesOnTheNet_Frontend_NSS_BackendCapstone" target="_blank">
          <div class="ui blue button">
            <i class="github square icon"></i>
            Front-end GitHub Repo
          </div>
        </a>
        <div class="or"></div>
        <a href="http://www.eyesonthenet.com" target="_blank">
          <div class="ui green button">
            <i class="browser icon"></i>
            Deployed Website
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="ui eight column grid">

    <div class="ui fluid card">
      <div class="content">
        <div class="header">Front-end Capstone Project: "Cheque-Yourself!"</div>
        <div class="meta">Hover over image for a detailed description</div>
      </div>
      <div class="two ui buttons">
          <button class="ui button" (click)="changeImage('chequeYourself', 'previous')">
            <i class="Angle Double Left icon"></i>
            Previous Image
          </button>
          <button class="ui button" (click)="changeImage('chequeYourself', 'next')">
            Next Image
            <i class="Angle Double Right icon"></i>
          </button>
      </div>

      <div class="image main-dimmer" (mouseenter)="hover('cyDimmer');" (mouseleave)="blur('cyDimmer');">
        <div class="ui dimmer cyDimmer">
          <div class="content">
            <div class="center">
              <h2 class="ui inverted header">"Cheque-Yourself!"</h2>
              <p>Paper checks are still a "thing" of modern life. After trying to find software that would allow an individual 
                to print their own checks (as a cost-saving measure), it was determined that available check-writing software
                was expensive, horribly out-dated and platform specific.<br/><br/>
                "Cheque-Yourself!" allows the printing of checks from any web browser as 
                well as keep track of checking & saving finances.</p>
                <span>Technologies Used</span>
                <div class="badge-div">
                  <img class="tech-badge-imgs" src="./media/ti/html5.png">
                  <img class="tech-badge-imgs" src="./media/ti/css3.png">
                  <img class="tech-badge-imgs" src="./media/ti/javascript.png">
                  <img class="tech-badge-imgs" src="./media/ti/jquery.png">
                  <img class="tech-badge-imgs" src="./media/ti/angularjs.png">
                </div>
            </div>
          </div>
        </div>
          <img [src]="chequeYourselfDisplayImg">
      </div>
      <div class="description">
        <div class="ui large buttons">
        <a href="https://github.com/bernardanderson/frontend-capstone" target="_blank">
          <div class="ui blue button">
            <i class="github square icon"></i>
            GitHub Repo
          </div>
        </a>
        <div class="or"></div>
        <a href="http://www.cheque-yourself.com" target="_blank">
          <div class="ui green button">
            <i class="browser icon"></i>
            Deployed Website
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="ui eight column grid">

    <div class="ui fluid card">
      <div class="content">
        <div class="header">Front-end Group Project: "Gauntlet"</div>
        <div class="meta">Hover over image for a detailed description</div>
      </div>
      <div class="two ui buttons">
          <button class="ui button" (click)="changeImage('gauntlet', 'previous')">
            <i class="Angle Double Left icon"></i>
            Previous Image
          </button>
          <button class="ui button" (click)="changeImage('gauntlet', 'next')">
            Next Image
            <i class="Angle Double Right icon"></i>
          </button>
      </div>

      <div class="image main-dimmer" (mouseenter)="hover('gntletDimmer');" (mouseleave)="blur('gntletDimmer');">
        
        <div class="ui dimmer gntletDimmer">
          <div class="content">
            <div class="center">
            <h2 class="ui inverted header">"Gauntlet"</h2>
            <p>One of the more fun front-end group projects was "Gauntlet", a JavaScript exercise which had the 
              student utilizing prototypical inheritance for property creation and modification. The user creates a 
              player, selects a "class" and a weapon in order to engage in a 1-on-1 fight with an Orc.<br/><br/>
              After completing the JavaScript portion, our group had fun with the project by adding a 1980's 8-bit 
              theme as well as CSS animations for the actual battle scene.</p>
              <span>Technologies Used</span>
              <div class="badge-div">
                <img class="tech-badge-imgs" src="./media/ti/html5.png">
                <img class="tech-badge-imgs" src="./media/ti/css3.png">
                <img class="tech-badge-imgs" src="./media/ti/javascript.png">
                <img class="tech-badge-imgs" src="./media/ti/jquery.png">
              </div>
            </div>
          </div>
        </div>
          <img [src]="gauntletDisplayImg">
      </div>

      <div class="description">
        <div class="ui large buttons">
        <a href="https://github.com/bernardanderson/gauntlet-destroy-in-ators" target="_blank">
          <div class="ui blue button">
            <i class="github square icon"></i>
            GitHub Repo
          </div>
        </a>
        <div class="or"></div>
        <a href="http://www.bernardanderson.me/gauntlet" target="_blank">
          <div class="ui green button">
            <i class="browser icon"></i>
            Deployed Website
          </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

